<!DOCTYPE html>
<html lang="ru" data-ng-app="bookCatalog">
  <head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-sanitize.min.js"></script>
    <script src="js/angular-dragdrop.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <section id="main-wrap">
      <header>
        <section class='logo'>
          <a href="index.html#/">
            <img src="i/logo.png" title="Издательство «Фрай, без штанов и Бендер»" alt="Издательство «Фрай, без штанов и Бендер»">
          </a>
        </section>
        <section class="search">
          <input type="text" placeholder="Поиск, скорее всего, не работает" data-ng-model="search">
        </section>
      </header>
            <article data-ng-view>
            </article>
      <footer>
        <section class="bender">
          <a href="index.html#/company">
            <img src="i/bender.png" title="Издательство «Фрай, без штанов и Бендер»" alt="Издательство «Фрай, без штанов и Бендер»">
          </a>
        </section>
      </footer>
    </section>
  </body>
</html>
