<h1>{{ pageTitle }}</h1>
<section class="buy-wrap">
  <form name="bookForm">
    <h3>Контактные данные</h3>
    <p>Ваше имя</p>
    <input type="text" name="name" data-ng-model="formData.name"  data-ng-pattern="/[^A-Za-z0-9]/" data-ng-minlength="2" data-ng-required="true">
    <span data-ng-show="bookForm.name.$error.minlength">Ваше имя 1 буква</span>
    <span data-ng-show="bookForm.name.$error.pattern">Вас недопустимо зовут</span>
    <p>Контактный телефон</p>
    <input type="text" name="phone" data-ng-model="formData.phone" data-ng-pattern="/((8|\+7)-?)?\(?\d{3}\)?-?\d{1}-?\d{1}-?\d{1}-?\d{1}-?\d{1}-?\d{1}-?\d{1}/" data-ng-required="true">
    <span data-ng-show="bookForm.phone.$error.pattern">Неверный формат телефона, Скраффи должен дозвониться до вас</span>
    <section data-ng-if="formData.showAddr">
      <p>Адрес доставки</p>
      <input type="text" name="addr" data-ng-model="formData.addr" data-ng-minlength="4" data-ng-required="true">
      <span data-ng-show="bookForm.addr.$error.minlength">Уточните адрес</span>
    </section>
    <p>Электронный адрес</p>
    <input type="text" name="email" data-ng-model="formData.email" data-ng-pattern='/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' data-ng-required="true">
    <span data-ng-show="bookForm.email.$error.pattern">Мы не сможем послать письмо на эту почту</span>
    <p>Комментарий к заказу</p>
    <textarea name="comments" data-ng-model="formData.comments" data-ng-required="true"></textarea>
    <h3 data-ng-class="{'radio-invalid' : bookForm.delivery.$invalid}">Способ доставки</h3>
    <section class="delivery-item" data-ng-repeat="delivery in deliveryData">
      <input type="radio" data-ng-model="formData.deliveryType" name="delivery" value="{{delivery.id}}" data-ng-change="setAddr(delivery)" data-ng-required="true">{{delivery.name}} {{getDeliveryPrice(delivery)}}
    </section>
    <h3 data-ng-class="{'radio-invalid' : bookForm.payment.$invalid}">Способ оплаты</h3>
    <section class="payment-item" data-ng-repeat="payment in paymentData | filter:formData.deliveryType">
      <input type="radio" data-ng-model="formData.paymentType" name="payment" value="{{payment.title}}" data-ng-change="setPayment(payment)" data-ng-required="true">{{payment.title}}
    </section>
  </form>
  <section class="item-detail">
    <h3>Детали заказа</h3>
    <img class="cover" src="{{bookData.cover.small}}" title="{{review.cite}}" alt="{{review.cite}}" />
    <section class="item-description" data-ng-bind-html="bookData.info"></section>
    <section class="price">{{price}} ZZZ</section>
    <p data-ng-show="formData.name"><span>Имя</span> {{formData.name}}</p>
    <p data-ng-show="formData.phone"><span>Телефон</span> {{formData.phone}}</p>
    <p data-ng-show="formData.addr"><span>Адрес доставки</span> {{formData.addr}}</p>
    <p data-ng-show="formData.email"><span>Электронный адрес</span> {{formData.email}}</p>
    <p data-ng-show="formData.comments"><span>Комментарий к заказу</span> {{formData.comments}}</p>
    <p data-ng-show="formData.deliveryName"><span>Способ доставки</span> {{formData.deliveryName}}</p>
    <p data-ng-show="formData.paymentType"><span>Способ оплаты</span> {{formData.paymentType}}</p>
    <p><span>Сумма заказа</span> {{price + formData.deliveryPrice}}</p>
    <button class="send" data-ng-disabled="bookForm.$invalid"= data-ng-click="send()">Сделать заказ</button>
  </section>
</section>
