<h1>{{ pageTitle }}</h1>
<h3>Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</h3>
<section class="catalog">
  <section class="list-item" data-drop="true" data-ng-class="listAddClear($index)" data-ng-model="books" jqyoui-droppable="{index: {{$index}}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-repeat="book in books | filter:search | limitTo:listLimit">
    <a href="index.html#/book/{{book.id}}" data-drag="true" data-ng-model="books" jqyoui-draggable="{index: {{$index}} , animate:true}" data-jqyoui-options="{revert: 'invalid'}" data-drag="{{book.drag}}">
      <img src="{{ book.cover.small }}" alt="{{ book.title }}" title="{{ book.title }}">
      <span class="item-info" data-ng-bind-html="book.info"></span>
    </a>
  </section>
</section>
<section class="button-wrap">
  <button class="show-more-books" data-ng-click="listLimit = listLimit + 4">Еще несколько книг</button>
</section>
