<h1>{{ pageTitle }}</h1>
<section class="item-body">
  <img class="cover" src="{{bookData.cover.large}}" title="{{review.cite}}" alt="{{review.cite}}">
  <section class="item-description" data-ng-bind-html="bookData.description"></section>
</section>
<section class="list-reviews">
  <section class="review-item" data-ng-repeat="review in bookData.reviews">
    <img  src="{{review.author.pic}}" title="{{review.cite}}" alt="{{review.cite}}">
    <section class="review-item-body">
      {{review.cite}}
    </section>
  </section>
</section>
<section class="list-features">
  <section class="feature-item" data-ng-repeat="feature in bookData.features">
    <img src="{{feature.pic}}" title="{{feature.title}}" alt="{{feature.title}}">
    <section class="feature-item-body">
      {{feature.title}}
    </section>
  </section>
</section>
<section class="buy-book-wrap">
  <button class="buy-item"><a href="index.html#/buy/{{bookData.id}}">Купить за жалкие {{bookData.price}} ZZZ</a></button>
  <section class="price-description">
    <span>Наши цены самые непредсказуемные и формируются нашим уборщиком Скраффи</span>
    <img src="i/Scruffy.png" alt="Скраффи размышляет о цене на эту книгу" title="Скраффи размышляет о цене на эту книгу">
  </section>
</section>
