@font-face {
    font-family: 'Alsfuchsia';
    src: url('../font/alsfuchsia.otf') format("opentype");
}

@main-width: 1200px;
@mobile: 880px;
@hd: 1280px;
@min-device: 320px;

.addFastTransition(@sec: 1s) {
  transition: all @sec;
}

.addShadow(@shadow-h: 3px, @shadow-v: 3px,  @shadow-br: 10px, @shadow-sr: 0px, @shadow-rgba: rgba(0,0,0,0.75)) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.addRadialGradient(@start-color: #7f5282, @end-color: #633b65) {
  background: @start-color;
  background: -moz-radial-gradient(center, ellipse cover,  @start-color 0%, @end-color 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  @start-color 0%, @end-color 100%);
  background: radial-gradient(ellipse at center,  @start-color 0%, @end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start-color', endColorstr='@end-color',GradientType=1 );
}

.addLinearGradientBG(@start-color: #623a64, @end-color: #865888) {
  background: @start-color;
  background: linear-gradient(to top, @start-color, @end-color);
  background: -webkit-linear-gradient(top, bottom, @start-color, @end-color);
  background: -moz-linear-gradient(top,  @start-color,  @end-color);
  background: -o-linear-gradient(top,  @start-color,  @end-color);
  background: -ms-linear-gradient(top,  @start-color,  @end-color);
}

@red: #CC594A;
@yellow: #B8CC24;
@blue: #8BC5FF;

body {
	background: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @media (min-width:@main-width) { width: @main-width; }
  margin: 40px auto 50px auto;
  font-size: 72px;
  text-align: center;

  @media (max-width:@mobile) {
    font-size: 200%;
    width: @min-device;
    margin-bottom: 40px;
  }
}

h3 {
  width: @mobile;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 32px;
  font-weight: normal;

  @media (max-width:@mobile) {
    display: none;
  }
}

header {
  @media (min-width:@main-width) { width: @main-width; }
  margin: 60px auto;
  overflow: hidden;

  @media (max-width:@mobile) {
    width: 100%;
    margin: 40px auto 0 auto;
  }

 	& .logo {
		 width: 300px;
     overflow: hidden;
     float: left;

     @media (max-width:@mobile) {
       float: none;
       margin: 0 auto 40px auto;
     }
	}

  & section {
    height: 36px;
  }

  & .search {
    float: right;

    @media (max-width:@mobile) {
      float: none;
      text-align: center;
    }

    & input {
      width: 250px;
      height: 30px;
      border: 1px solid #b3b3b3;
      border-radius: 15px;
      padding-left: 30px;
      background: url('../i/loope-search.png') no-repeat;
      background-position: 7px, center;
      color: #b3b3b3;
      &::-webkit-input-placeholder {font-size: 110%;}
      &::-moz-placeholder          {font-size: 110%;;}
      &:-moz-placeholder           {font-size: 110%;}
      &:-ms-input-placeholder      {font-size: 110%;}
      &:focus                      {outline: none;}

      @media (max-width:@mobile) {
        float: none;
        margin: 0 auto;
      }
    }
  }
}

article {
  @media (min-width:@hd) { width: @hd; }
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  & .catalog {
    overflow: hidden;
    text-align: center;

    & .list-new-line {
      clear: left;
    }

    & .list-item {
      width: 25%;
      float: left;
      margin:20px 0 50px 0;

      @media (max-width:@mobile) {
        float: none;
        width: auto;
      }

      & a {
        text-decoration: none;
        color: #000;
      }

      & span {
        clear: both;
        display: block;
      }
      & .item-info {
        padding: 0 20px;
        font-size: 19px;
        cursor: pointer;

        & u {
          color: #4283c0;
          .addFastTransition();

          &:focus, &:hover {
            color: #e51907;
          }
        }
      }

     & img {
       .addShadow();
     }
    }
  }

  & .button-wrap {
    text-align: center;

    & button {
      clear: both;
      width: 276px;
      height:40px;
      margin: 20px auto 100px auto;
      background-color: #fff;
      color: #558dc5;
      display: table-row;
      border: 2px solid #95c1e6;
      border-radius: 5px;
      font-size: 17px;
      cursor: pointer;
      .addFastTransition();
      &:focus, &:hover {
        outline: none;
        color: #e7372c;
        border-color: #e51907;
      }
    }
  }

  & .list-reviews {
    position: absolute;
    width: 25%;
    left: 0%;
    text-align: center;

    @media (max-width:@mobile) {
      float: none;
      width: 90%;
      margin: 20px auto;
      position: static;
    }

    & .review-item {
      margin-bottom: 70px;
      @media (max-width:@mobile) { margin-bottom: 40px; }

      &:first-child {
        & .review-item-body:before {
          content: "«";
          font-size: 36px;
          top: 0px;
          left: -10px;
        }

        & .review-item-body:after {
          content: "»";
          font-size: 36px;
          top: 0px;
          right: 10px;
        }
      }

      &:last-child {
        margin: 0;
        @media (max-width:@mobile) { margin-bottom: 60px; }
      }

      & img {
        margin-bottom: 25px;
      }

      & .review-item-body {
        color: #4c4c4c;
        padding: 0 40px;
        font-size: 21px;
      }
    }
  }

  & .list-features {
    position: absolute;
    right: 0%;
    width: 25%;
    text-align: center;

    @media (max-width:@mobile) {
      float: none;
      width: 90%;
      margin: 20px auto;
      position: static;
    }

    & .feature-item {
      margin-bottom: 70px;
      @media (max-width:@mobile) { margin-bottom: 40px; }

      &:last-child {
        margin: 0;
      }

      & img {
        margin-bottom: 25px;
      }

      & .feature-item-body {
        padding: 0 40px;
        color: #4c4c4c;
        font-size: 21px;
      }
    }
  }

  & .buy-book-wrap {
    text-align: center;

    & .buy-item {
      width: 440px;
      height: 80px;
      border: none;
      border-radius: 10px;
      font-size: 32px;
      margin-bottom: 30px;
      color: #fff;
      cursor: pointer;
      .addLinearGradientBG();
      .addShadow();

      @media (max-width:@mobile) {
        width: 90%;
        height: auto;
      }

      &:hover {
        .addLinearGradientBG(#49274b, #c28dc5);
      }

      &:focus {
        .addLinearGradientBG(#623a64, #865888);
        outline: none;
      }

      & a {
        color: #fff;
        text-decoration: none;
      }
    }

    & .price-description {
      @media (max-width:@mobile) { width: 90%; }
      width: 400px;
      margin: 0 auto 100px auto;

      & span {
        clear: both;
        display: table-row;
        font-style: italic;
        font-size: 15px;
        color: #dcdcdc;
      }

      & img {
        margin-top: 10px;
      }
    }
  }

  & .item-body {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media (max-width:@mobile) {
      float: none;
      width: 90%;
      margin: 20px auto;
    }

    & img.cover {
      .addShadow();
      @media (max-width:@mobile) { width: 200px; }
    }

    & .item-description {
      width: 420px;
      margin: 50px auto 30px auto;
      font-size: 24px;

      @media (max-width:@mobile) { width: 80%; }

      & strong {
        color: #fe5552;
      }
    }
  }

  & .shop-info {
    @media (max-width:@mobile) { padding: 0 10px; }

    & p, h2, h3, ul {
      width: auto;
      max-width: 640px;
    }

    & h2 {
      margin: 60px auto 0 auto;
      font-size: 42px;
      font-weight: bolder;
    }

    & h3 {
      margin: 40px auto 0 auto;
      text-align: left;
      font-size: 24px;
      font-weight: bolder;
    }

    & p, li {
      margin: 30px auto 10px auto;
      font-size: 19px;
      line-height: 32px;
    }

    & .company-faces {
      margin-top: 50px;
      text-align: center;

      & img {
        margin-left: 80px;

        @media (max-width:@mobile) { margin: 0; }

        &:last-child {
          margin: none;
        }
      }
    }

    & ul {
      margin: 0px auto 10px auto;

      & li {
        margin: 10px 0;
      }
    }

    & blockquote {
      width: 75%;
      margin: 50px auto;
      padding: 50px 0;
      border-top: 1px solid #7d7d7d;
      border-bottom: 1px solid #7d7d7d;
      text-align: center;
      font-size: 36px;
      font-family: Alsfuchsia, Verdana, sans-serif;
      @media (max-width:@mobile) {
        font-size: 200%;
        width: auto;
        padding: 20px 0;
        margin: 20px auto;
      }
    }
  }

  & .buy-wrap {
    width: 80%;
    margin: 0 auto;
    @media (max-width:@mobile) { margin-bottom: 40px; }

    & .item-detail {
      @media (min-width:@hd) {
        width: 60%;
        float: right;
      }

      & h3 {
        margin: 0;
        text-align: left;
        margin: 20px 0;

        @media (max-width:@mobile) { display: block; }
      }

      & .item-description {
        font-size: 19px;

        & u {
         color: #4283c0;
        }
      }

      & img {
        float: left;
        height: 110px;
        .addShadow();
        margin: 0 15px 15px 0;
      }

      & .price {
        margin: 15px 0;
        padding: 10px;
        border-radius: 10px;
        font-size: 24px;
        color: #000;
        display: inline-block;
        overflow: hidden;
      }

      & p {
        font-size: 14px;
        margin: 0px;
        clear: both;

        & span {
          font-weight: bold;
        }
      }

      & button {
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 24px;
        color: #fff;
        margin-top: 30px;
        .addLinearGradientBG(#49274b, #c28dc5);

        &:disabled {
          .addLinearGradientBG(#999999, #CCCCCC);
        }
      }
    }

    & form {
      @media (min-width:@hd) {
        width: 30%;
        float: left;
      }

      & h3 {
        text-align: left;
        margin: 20px 0 10px 0;

        @media (max-width:@mobile) { display: block; }
      }

      & p {
        margin-bottom: 0px;
        font-size: 19px;
      }

      & span {
        display: inherit;
        font-size: 14px;
        font-style: italic;
      }

      & input, textarea {
        padding: 5px;
        border: 1px solid #b3b3b3;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }

      & .ng-invalid {
        border: 1px solid #FF6633;
      }

      & .radio-invalid {
        color: #FF6633;
      }

      & .ng-valid {
        border: 1px solid #009933;
      }

      & .delivery-item input {
        background: #000;
      }
    }
  }
}


footer {
  height:193px;
  @media (min-width:@hd) { width: @hd; }
  margin: 0 auto;
  bottom:0;
  text-align: center;

  & img {
    width: 299px;
    margin: 0 auto;
  }
}
